[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Cc]ode[Cc]overage/
[Ss]hader[Cc]ache/

[Aa]ssets/AssetStoreTools*
[Aa]ssets/[Pp]lugins/[Ee]ditor/JetBrains*
[Aa]ssets/[Ss]treamingAssets/aa/
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/burst.metadata

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.pidb.meta
*.pdb.meta
*.mdb.meta

.vs/
.vscode/
.idea/
.consulo/
*.DotSettings.user

ExportedObj/
crashlytics-build.properties
sysinfo.txt
*.apk
*.aab
*.app
*.exe
*.ipa
*.unitypackage
*.unitypackage.meta
!Assets/**/Plugins/**/*.dll
!Assets/**/Plugins/**/*.so
!Assets/**/Plugins/**/*.dylib
!Assets/**/Plugins/**/*.a
!Assets/**/Plugins/**/*.aar
!Assets/**/Plugins/**/*.jar

[Aa]ssets/[Pp]lugins/[Aa]ndroid/gradleOut/
[Aa]ssets/[Pp]lugins/PlasticSCM*
ignore.conf
*.private
*.private.*

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp

*~
.directory
.fuse_hidden*
.nfs*
